.headerTitle {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 0px 0px 50px;
}

.selectedParagraph, .textScore {
  text-align: center;
  max-width: 800px;
  margin: auto;
  margin: 0px auto 20px;
}

.textScore{
  font-weight: bold;
  color: #fff;
  font-size:  20px;
}

.timer{
  font-size: 16px;
  color: rgb(255, 13, 0);
  margin: 10px auto;
}

.leftTextScore{
  color: tomato;
}

.rightTextScore{
  color: rgb(154, 226, 9);
}

.textBox {
  max-width: 500px !important;
  height: 150px;
  margin: 0px auto;
}

.textArea {
  width: 100%;
  height: 100%;
  overflow: auto;
  resize: none;
}

.textButtons {
  display: grid;
  grid-template-columns: 50% 50%;
}

.textButtons > div {
  margin: 20px auto;
}

.textButtons > div button {
  outline: none;
  border: none;
  background: rgb(4, 24, 29);
  color: aliceblue;
  border-radius: 15px;
  padding: 10px 50px;
  cursor: pointer;
}

.textButtons > div button:active {
  border: 1px solid rgb(255, 255, 255);
}
